In [1]:
#client name
com_name = 'flyin2'

In [2]:
#importing libraries

import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#Read the input file

df = pd.read_csv('RFM_Transactions_'+com_name+'.csv', parse_dates = ['f0_'])

/Users/gautamshetty/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [26]:
#Converting cuid to string if required

df.loc[~df['cuid'].isnull(), 'cuid'] = df.loc[~df['cuid'].isnull(), 'cuid'].astype(str)

In [27]:
df.head(10)

,cuid,luid,event_name,f0_,Revenue,checkIn_date,checkOut_date
0,1821901,4A00292A-BFCD-46E5-A571-E71605898803,Book Room,2018-03-31 05:07:12+00:00,NaN,NaN,NaN
1,1055380,00000167-b31f-255d-b32f-f8151433f5e6,Book Room,2019-02-22 20:06:08+00:00,804.0,2019-02-21 21:00:00 UTC,2019-02-22 21:00:00 UTC
2,2949555,25C60C72-8A4C-4D17-AC9A-1F5D25C7ACAC,Book Room,2019-01-16 23:20:52.208000+00:00,0.0,2019-01-16 20:00:00 UTC,2019-01-18 20:00:00 UTC
3,2949555,25C60C72-8A4C-4D17-AC9A-1F5D25C7ACAC,Book Room,2019-01-16 23:20:47.522000+00:00,0.0,2019-01-16 20:00:00 UTC,2019-01-18 20:00:00 UTC
4,2343914,00000161-d37a-753c-95d2-80b0f93eb089,Book Room,2019-01-17 01:22:23+00:00,1725.0,2019-02-13 21:00:00 UTC,2019-02-15 21:00:00 UTC
5,2343914,00000161-d37a-753c-95d2-80b0f93eb089,Book Room,2019-01-17 01:21:53+00:00,1175.0,2019-02-13 21:00:00 UTC,2019-02-15 21:00:00 UTC
6,2343914,00000161-d37a-753c-95d2-80b0f93eb089,Book Room,2019-01-17 01:21:39+00:00,1170.0,2019-02-13 21:00:00 UTC,2019-02-15 21:00:00 UTC
7,2343914,00000161-d37a-753c-95d2-80b0f93eb089,Book Room,2019-01-17 01:22:38+00:00,1740.0,2019-02-13 21:00:00 UTC,2019-02-15 21:00:00 UTC
8,2388476,DBD1951C-45CF-45C1-9527-139C96EB6408,Book Room,2018-05-09 14:46:19+00:00,NaN,NaN,NaN
9,1612940,EC38868B-0671-4406-A1F8-8ED825BD00BB,Book Room,2018-03-23 13:06:27+00:00,NaN,NaN,NaN

In [28]:
#checking the number of missing values for each column

null_columns=df.columns[df.isnull().any()]
df[null_columns].isnull().sum()

cuid             276667
Revenue           38626
checkIn_date      46301
checkOut_date     46301
dtype: int64

In [30]:
#Defining id column as: id = if cuid not null then cuid else luid

df['id'] = df[df['cuid'].isnull()]['luid']
df.loc[df['id'].isnull(), 'id'] = df.loc[df['id'].isnull(), 'cuid']

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 469674 entries, 1 to 515976
Data columns (total 7 columns):
event_name       469674 non-null object
f0_              469674 non-null datetime64[ns, UTC]
Revenue          469674 non-null float64
checkIn_date     469674 non-null object
checkOut_date    469674 non-null object
id               469674 non-null object
hist             469674 non-null float64
dtypes: datetime64[ns, UTC](1), float64(2), object(4)
memory usage: 28.7+ MB

In [32]:
#Defining hist column: Number of days between current date and transaction date

from datetime import date

df['hist']= date.today() - df['f0_'].dt.date
df['hist'].astype('timedelta64[D]')
df['hist']=df['hist'] / np.timedelta64(1, 'D')
df.head()

,cuid,luid,event_name,f0_,Revenue,checkIn_date,checkOut_date,id,hist
0,1821901,4A00292A-BFCD-46E5-A571-E71605898803,Book Room,2018-03-31 05:07:12+00:00,NaN,NaN,NaN,1821901,438.0
1,1055380,00000167-b31f-255d-b32f-f8151433f5e6,Book Room,2019-02-22 20:06:08+00:00,804.0,2019-02-21 21:00:00 UTC,2019-02-22 21:00:00 UTC,1055380,110.0
2,2949555,25C60C72-8A4C-4D17-AC9A-1F5D25C7ACAC,Book Room,2019-01-16 23:20:52.208000+00:00,0.0,2019-01-16 20:00:00 UTC,2019-01-18 20:00:00 UTC,2949555,147.0
3,2949555,25C60C72-8A4C-4D17-AC9A-1F5D25C7ACAC,Book Room,2019-01-16 23:20:47.522000+00:00,0.0,2019-01-16 20:00:00 UTC,2019-01-18 20:00:00 UTC,2949555,147.0
4,2343914,00000161-d37a-753c-95d2-80b0f93eb089,Book Room,2019-01-17 01:22:23+00:00,1725.0,2019-02-13 21:00:00 UTC,2019-02-15 21:00:00 UTC,2343914,146.0

In [38]:
#drop the cuid and luid columns

df.drop(['cuid', 'luid'], axis=1, inplace=True)

In [43]:
#check for minimum and maximum hist values and report is it is unusual

print(df['hist'].min(), df['hist'].max())

1.0 426.0

In [44]:
df.head(40)

,event_name,f0_,Revenue,checkIn_date,checkOut_date,id,hist
1,Book Room,2019-02-22 20:06:08+00:00,804.0,2019-02-21 21:00:00 UTC,2019-02-22 21:00:00 UTC,1055380,110.0
2,Book Room,2019-01-16 23:20:52.208000+00:00,0.0,2019-01-16 20:00:00 UTC,2019-01-18 20:00:00 UTC,2949555,147.0
3,Book Room,2019-01-16 23:20:47.522000+00:00,0.0,2019-01-16 20:00:00 UTC,2019-01-18 20:00:00 UTC,2949555,147.0
4,Book Room,2019-01-17 01:22:23+00:00,1725.0,2019-02-13 21:00:00 UTC,2019-02-15 21:00:00 UTC,2343914,146.0
5,Book Room,2019-01-17 01:21:53+00:00,1175.0,2019-02-13 21:00:00 UTC,2019-02-15 21:00:00 UTC,2343914,146.0
6,Book Room,2019-01-17 01:21:39+00:00,1170.0,2019-02-13 21:00:00 UTC,2019-02-15 21:00:00 UTC,2343914,146.0
7,Book Room,2019-01-17 01:22:38+00:00,1740.0,2019-02-13 21:00:00 UTC,2019-02-15 21:00:00 UTC,2343914,146.0
12,Book Room,2018-06-02 08:54:34+00:00,2848.0,2018-06-22 21:00:00 UTC,2018-06-27 21:00:00 UTC,2261982,375.0
13,Book Room,2019-05-20 04:44:50+00:00,396.0,2019-06-17 21:00:00 UTC,2019-06-18 21:00:00 UTC,3147776,23.0
14,Book Room,2019-05-20 04:42:45+00:00,972.0,2019-06-17 21:00:00 UTC,2019-06-18 21:00:00 UTC,3147776,23.0
15,Book Room,2019-06-11 07:22:16.952000+00:00,773.0,2019-06-26 21:00:00 UTC,2019-06-27 21:00:00 UTC,1908697,1.0
16,Book Room,2019-06-11 22:27:49.629000+00:00,1559.0,2019-06-17 21:00:00 UTC,2019-06-19 21:00:00 UTC,2829491,1.0
17,Book Room,2019-06-11 07:22:16.952000+00:00,773.0,2019-06-26 21:00:00 UTC,2019-06-27 21:00:00 UTC,1908697,1.0
18,Book Room,2018-07-21 09:41:39+00:00,480.0,2018-07-20 17:00:00 UTC,2018-07-21 17:00:00 UTC,1359531,326.0
19,Book Room,2019-05-18 00:40:19.392000+00:00,715.0,2019-06-05 21:00:00 UTC,2019-06-08 21:00:00 UTC,2593545,25.0
20,Book Room,2019-05-07 10:59:35+00:00,1229.0,2019-06-22 21:00:00 UTC,2019-06-26 21:00:00 UTC,2008075,36.0
21,Book Room,2019-05-08 04:49:37+00:00,566.0,2019-05-10 21:00:00 UTC,2019-05-12 21:00:00 UTC,2586692,35.0
22,Book Room,2018-10-20 11:59:14+00:00,581.0,2019-02-14 21:00:00 UTC,2019-02-15 21:00:00 UTC,2787323,235.0
23,Book Room,2018-06-28 08:22:40+00:00,5155.0,2018-08-20 21:00:00 UTC,2018-08-25 21:00:00 UTC,2204628,349.0
24,Book Room,2018-06-28 22:53:07+00:00,392.0,2018-06-28 20:00:00 UTC,2018-06-29 20:00:00 UTC,2349942,349.0
25,Book Room,2019-05-10 05:28:38.096000+00:00,2149.0,2019-06-05 21:00:00 UTC,2019-06-10 21:00:00 UTC,3134335,33.0
26,Book Room,2019-05-10 05:28:56.812000+00:00,843.0,2019-05-15 21:00:00 UTC,2019-05-17 21:00:00 UTC,3109221,33.0
27,Book Room,2018-07-10 20:08:36+00:00,167.0,2018-07-11 21:00:00 UTC,2018-07-12 21:00:00 UTC,1757097,337.0
28,Book Room,2018-07-10 14:12:40+00:00,853.0,2018-09-14 21:00:00 UTC,2018-09-18 21:00:00 UTC,2363219,337.0
29,Book Room,2018-06-28 05:29:31+00:00,947.0,2018-07-07 21:00:00 UTC,2018-07-09 21:00:00 UTC,2332447,349.0
30,Book Room,2018-07-26 17:54:50+00:00,2447.0,2018-08-08 21:00:00 UTC,2018-08-11 21:00:00 UTC,2558394,321.0
31,Book Room,2019-02-20 23:24:16.706000+00:00,9780.0,2019-07-26 22:00:00 UTC,2019-07-30 22:00:00 UTC,3006761,112.0
32,Book Room,2019-02-21 05:00:13.305000+00:00,1658.0,2019-07-10 21:00:00 UTC,2019-07-14 21:00:00 UTC,2992371,111.0
33,Book Room,2019-02-21 04:42:30.416000+00:00,0.0,2019-02-22 21:00:00 UTC,2019-02-26 21:00:00 UTC,1501216,111.0
34,Book Room,2019-02-21 04:28:00.718000+00:00,2957.0,2019-02-22 21:00:00 UTC,2019-02-26 21:00:00 UTC,1501216,111.0
35,Book Room,2019-02-21 05:05:05.311000+00:00,0.0,2019-02-22 21:00:00 UTC,2019-02-26 21:00:00 UTC,1501216,111.0
36,Book Room,2019-02-21 04:49:37.144000+00:00,0.0,2019-02-22 21:00:00 UTC,2019-02-26 21:00:00 UTC,1501216,111.0
37,Book Room,2019-02-21 04:55:49.273000+00:00,0.0,2019-02-22 21:00:00 UTC,2019-02-26 21:00:00 UTC,1501216,111.0
38,Book Room,2019-02-21 04:53:20.642000+00:00,0.0,2019-02-22 21:00:00 UTC,2019-02-26 21:00:00 UTC,1501216,111.0
39,Book Room,2019-02-21 05:18:14.824000+00:00,0.0,2019-02-22 21:00:00 UTC,2019-02-26 21:00:00 UTC,1501216,111.0
40,Book Room,2019-02-21 04:24:31.189000+00:00,2441.0,2019-02-24 21:00:00 UTC,2019-03-01 21:00:00 UTC,2576919,111.0
41,Book Room,2019-02-21 04:21:24.851000+00:00,2929.0,2019-02-28 21:00:00 UTC,2019-03-03 21:00:00 UTC,1351555,111.0
42,Book Room,2019-02-20 18:48:07.670000+00:00,302.0,2019-02-19 21:00:00 UTC,2019-02-20 21:00:00 UTC,1956563,112.0
43,Book Room,2019-02-20 18:48:09.426000+00:00,302.0,2019-02-19 21:00:00 UTC,2019-02-20 21:00:00 UTC,1956563,112.0
44,Book Room,2018-10-21 23:46:59+00:00,1363.0,2018-12-31 21:00:00 UTC,2019-01-04 21:00:00 UTC,2769366,234.0

In [45]:
#Average Revenue

df['Revenue'].mean()

14074.722283967178

In [17]:
#Fill the missing values of Revenue on the basis of groupby using id, if group not found then fill with the average Revenue

df['Revenue'] = df.groupby("id").transform(lambda x: x.fillna(x.mean()))
df.loc[df['Revenue'].isnull(), 'Revenue'] = df['Revenue'].mean()

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511888 entries, 0 to 511887
Data columns (total 7 columns):
cuid          236971 non-null object
luid          511888 non-null object
event_name    511888 non-null object
f0_           511888 non-null datetime64[ns, UTC]
Revenue       511888 non-null float64
hist          511888 non-null float64
id            511888 non-null object
dtypes: datetime64[ns, UTC](1), float64(2), object(4)
memory usage: 27.3+ MB

In [75]:
#Creating RFM Table with the given definitions:
#Groupby id
#Recency = minimum hist value (number of days before most recent transaction)
#Frequency = Length of id group (Number of transaction made by the given id)
#Monetary = Sum of the revenues for all transaction of the given id

import statistics

rfmTable = df.groupby('id').agg({'hist': lambda x:x.min(),                    # Recency
                                        'id': lambda x: len(x),               # Frequency
                                        'Revenue': lambda x: x.sum(),         # Monetary Value
                                'f0_': lambda x: x.max(),       
                                'weekday': lambda x: sum(x)})          


rfmTable.rename(columns={'hist': 'recency', 
                         'id': 'frequency', 
                         'Revenue': 'monetary_value',
                        'f0_': 'date'}, inplace=True)

In [76]:
#round the recency column

rfmTable['recency'] = round(rfmTable['recency'])

In [77]:
#Save the RFM table for further use

rfmTable.to_csv("rfmTable_"+com_name+".csv", sep='\t', encoding='utf-8')

In [78]:
sum(rfmTable['frequency'])

469674

In [79]:
rfmTable

,recency,frequency,monetary_value,date,weekday
id,,,,,
0,129.0,131,247860.0,2019-02-03 20:10:59.434000+00:00,101
0000015c-0b9f-c0b0-9a6e-9ae8ab2c243c,392.0,1,1021.0,2018-05-16 02:19:45+00:00,1
0000015c-0bc1-71bd-8c06-eeaf2ab6acb4,161.0,4,1607.0,2019-01-02 07:00:33.159000+00:00,4
0000015c-0bcd-42c7-8fbd-dc89fa565dcd,414.0,1,3515.0,2018-04-24 23:26:41+00:00,1
0000015c-0be9-295b-9345-ec764b98ba1c,398.0,2,3648.0,2018-05-10 20:23:43+00:00,2
0000015c-0c5f-c361-abb3-e256ec79c231,315.0,1,1324.0,2018-08-01 04:42:51.106000+00:00,1
0000015c-0c77-d972-8770-74f8ed84fc67,300.0,4,29723.0,2018-08-16 17:55:55.883000+00:00,4
0000015c-0ca2-51d9-9b9f-7ed5f47b51f5,149.0,1,700.0,2019-01-14 03:56:39.472000+00:00,1
0000015c-0ca9-89ab-b960-d44b3ba0f45d,335.0,2,819.0,2018-07-12 01:19:57+00:00,2
0000015c-0cb6-338b-8e45-cfcf054cf801,249.0,1,2768.0,2018-10-06 00:23:52.861000+00:00,1
0000015c-0cbc-9c4e-8c52-48bf7345a367,342.0,1,1089.0,2018-07-05 11:47:23+00:00,1
0000015c-0cc1-9aad-ae55-d802d86d6a31,255.0,1,156.0,2018-09-30 02:39:53.862000+00:00,0
0000015c-0ccc-2d23-86a7-9aa204afa226,97.0,31,209565.0,2019-03-07 21:53:29.926000+00:00,18
0000015c-0cd7-6f51-ba8d-d58ab39cac0e,270.0,14,5487.0,2018-09-15 12:43:04.242000+00:00,14
0000015c-0cd8-39e8-b0de-ff0049d5f404,137.0,5,10340.0,2019-01-26 14:35:04.194000+00:00,2
0000015c-0cda-f482-89b0-998415cedf76,214.0,6,1725.0,2018-11-10 00:02:30.494000+00:00,6
0000015c-0ce8-679c-82f0-d29013c69e8e,377.0,1,13309.0,2018-05-31 04:24:40+00:00,1
0000015c-0cee-195a-9743-0fa8837dc32a,341.0,1,93.0,2018-07-06 18:18:56+00:00,1
0000015c-0d17-1981-aacb-953d58651ddd,380.0,2,12748.0,2018-05-28 05:07:57+00:00,0
0000015c-0d18-c0f7-85a3-4b1d10ce9158,383.0,1,129.0,2018-05-25 09:11:54+00:00,1
0000015c-0d24-2641-929d-b26cc8c8e8d1,330.0,3,426.0,2018-07-17 06:49:43.958000+00:00,3
0000015c-0d29-1aa6-8956-437bdc679c0e,301.0,1,3483.0,2018-08-15 16:47:02.646000+00:00,1
0000015c-0d48-45c6-984c-a2d9e42388bc,3.0,2,8260.0,2019-06-09 05:56:00.669000+00:00,0
0000015c-0d4f-7bbc-8b8d-a834350ed4fe,16.0,1,1325.0,2019-05-27 00:58:10.867000+00:00,1
0000015c-0d5b-1acd-bac7-e528bbd93180,164.0,2,3628.0,2018-12-30 02:23:44.844000+00:00,2
0000015c-0d60-ec04-ab2c-e4795b589850,241.0,1,1704.0,2018-10-14 22:15:27.588000+00:00,0
0000015c-0d6c-6e44-8bb1-8ca98087c045,162.0,13,28201.0,2019-01-01 06:10:01.592000+00:00,12
0000015c-0d6d-126f-ba3c-a1e106df8187,173.0,1,973.0,2018-12-21 22:05:50.916000+00:00,1
0000015c-0d7e-e586-a992-4769dde66682,123.0,1,1213.0,2019-02-09 07:44:20.372000+00:00,1
0000015c-0d8a-6b16-81fd-6929b7dfb82d,330.0,2,812.0,2018-07-17 07:54:12.025000+00:00,2
...,...,...,...,...,...
ffe45f6301d11085e55d26dc8cec384609b5c6b8,102.0,1,3030.0,2019-03-02 15:33:10.820000+00:00,1
ffe4b0a84b4d2efa281dd95ffa0cec921280d40a,137.0,4,3895.0,2019-01-26 08:45:41.228000+00:00,4
ffe559b0cfc86d99c73cb7586bc427aee6b58ebc,66.0,1,1504.0,2019-04-07 23:57:54.717000+00:00,1
ffe6bc5837a6aa07b32a708cba93862a13137cf7,58.0,2,3340.0,2019-04-15 23:49:17.468000+00:00,2
ffe75a4d4e696340a7a6ffdea92072965a54c134,35.0,1,3460.0,2019-05-08 06:13:31.747000+00:00,0
ffe8b530469a3c7ab72ae9968f5ece38b8c5c324,299.0,4,650.0,2018-08-17 07:49:36.135000+00:00,1
ffe8c74e373044a83f81642abea091df8400e2ba,352.0,1,358.0,2018-06-25 10:13:00+00:00,1
ffe999678fb219714e4721b0e225a54375c7f4d3,348.0,1,368.0,2018-06-29 20:46:58+00:00,1
ffea0445a6d1f2f402586059a6d5438a571aafac,37.0,3,5685.0,2019-05-06 15:06:16.512000+00:00,2
ffea8ec285aed97b75499f5dd7612967002a3aa1,237.0,1,1381.0,2018-10-18 01:54:07.872000+00:00,1
ffebc82924803faee0cd4536ec2cc04c1969feeb,114.0,3,5040.0,2019-02-18 17:09:20.721000+00:00,3
ffec9cbb895f76ce6b7c81d5fef349fae26a785b,291.0,1,2006.0,2018-08-25 02:31:29.098000+00:00,1
ffed8c33288c64d7c3fd52c0f4b49d53ad14ef89,373.0,2,3547.0,2018-06-04 19:45:08+00:00,2
ffeeb8d216d9a5e88f9d616470d8d6ee9c1c90b2,331.0,2,4821.0,2018-07-16 07:21:01.924000+00:00,0
ffeedbe4520d1e1e7e927c424ca5928d9e04bfb0,82.0,1,1690.0,2019-03-22 09:54:51.876000+00:00,1
fff2ccaacc4e77a505f8ae28eb8664fbdff46c99,10.0,1,2457.0,2019-06-02 12:01:39.661000+00:00,1
fff49599a1dfdfcce7844d5ef75028d71a766b24,27.0,1,710.0,2019-05-16 02:34:15.708000+00:00,1
fff49e6863923c95a506d459f31c66263c57b5ac,63.0,1,944.0,2019-04-10 04:51:08.055000+00:00,1
fff549280a2e9fe5e01964cc426fef9f59421dd6,173.0,1,3118.0,2018-12-21 20:31:38.952000+00:00,0
fff66c8b32afb6104b5b0d8c4f100a2dc0097b4e,378.0,1,587.0,2018-05-30 16:58:31+00:00,1
fff6b35508e567a3216e4bdcd38aa8c9812f9e1f,22.0,4,32920.0,2019-05-21 16:23:18.058000+00:00,4
fff7ed73f651d2a2a8b81e01ca038f42a36276a0,273.0,2,2596.0,2018-09-12 20:44:48.219000+00:00,2
fff82eafa9677674391f17f8e3f9911dcd425160,51.0,2,9242.0,2019-04-22 14:15:43.636000+00:00,0
fff97e4d6d4342db7f3ebdd58c46351afed65ae7,24.0,1,644.0,2019-05-19 22:30:20.783000+00:00,1
fffb0a2944c4a226e986b1efeecbcc46708a74e0,62.0,1,3456.0,2019-04-11 18:16:30.397000+00:00,1
fffc3467919e02579ab9f9a994477333165ccd0b,93.0,1,794.0,2019-03-11 07:58:13.141000+00:00,0
fffca25df75a6b274c0b10d36c41020be8ae4ca3,68.0,1,845.0,2019-04-05 00:27:19.464000+00:00,1
fffeeede45d66eec71b5c2166996785e41e96121,295.0,1,4430.0,2018-08-21 15:59:20.523000+00:00,1
ffff039f4cf12c99a8435ec5815055180c523469,388.0,1,7851.0,2018-05-20 04:26:56+00:00,1
ffff6d0c9ba2dd759644757a4cf89bacacbdd5fc,227.0,1,293.0,2018-10-28 05:18:19.358000+00:00,1

In [84]:
rfmTable.info()

<class 'pandas.core.frame.DataFrame'>
Index: 157330 entries, 0 to ffff6d0c9ba2dd759644757a4cf89bacacbdd5fc
Data columns (total 5 columns):
recency           157330 non-null float64
frequency         157330 non-null int64
monetary_value    157330 non-null float64
date              157330 non-null datetime64[ns, UTC]
weekday           157330 non-null int64
dtypes: datetime64[ns, UTC](1), float64(2), int64(2)
memory usage: 7.2+ MB

In [83]:
df[df['id']=='0000015c-0bc1-71bd-8c06-eeaf2ab6acb4']

,index,event_name,f0_,Revenue,checkIn_date,checkOut_date,id,hist,weekday,day
228952,246426,Book Room,2019-01-02 06:55:47.354000+00:00,351.0,2019-01-02 21:00:00 UTC,2019-01-03 21:00:00 UTC,0000015c-0bc1-71bd-8c06-eeaf2ab6acb4,161.0,True,2
228953,246427,Book Room,2019-01-02 06:57:17.607000+00:00,351.0,2019-01-02 21:00:00 UTC,2019-01-03 21:00:00 UTC,0000015c-0bc1-71bd-8c06-eeaf2ab6acb4,161.0,True,2
228954,246428,Book Room,2019-01-02 07:00:33.159000+00:00,351.0,2019-01-02 21:00:00 UTC,2019-01-03 21:00:00 UTC,0000015c-0bc1-71bd-8c06-eeaf2ab6acb4,161.0,True,2
423075,460960,Book Room,2018-07-28 18:39:52.278000+00:00,554.0,2018-08-28 21:00:00 UTC,2018-08-29 21:00:00 UTC,0000015c-0bc1-71bd-8c06-eeaf2ab6acb4,319.0,True,1